specVersion: "2.0"
metadata:
  name: {{CardName}}
  copyright: |-
    * (c) Copyright 2009-${currentYear}
type: application
resources:
  configuration:
    paths:
      webapp: src
builder:
  resources:
    excludes:
     - "test/**"
     - ".card/**"
